@{
    ViewData["Title"] = "PDF Simple Samples";
}

<div>
    <h2 class="display-4">Simple sample from the PDF Controller</h2>

    <ul>
        <li><a href="@Url.Action("HelloWorld","Home")" target="_blank">Hello World PDF</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentRefs" })" target="_blank">Document Refs</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentProperties" })" target="_blank">Document Properties</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningModes" })" target="_blank">Document Positioning Inline</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningBlocks" })" target="_blank">Document Positioning Blocks</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningModes" })" target="_blank">Document Positioning Mode</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningFullWidth" })" target="_blank">Document Positioning Full Width</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningRelative" })" target="_blank">Document Positioning Relative</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningAbsolute" })" target="_blank">Document Positioning Absolute</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPositioningOrder" })" target="_blank">Document Positioning Order</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentSizing" })" target="_blank">Document Sizing</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentImageSizes" })" target="_blank">Document Image Sizing</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentSizingMargins" })" target="_blank">Document Sizing Margins</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentSizingClipping" })" target="_blank">Document Sizing Clipping</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentSizingMinMax" })" target="_blank">Document Sizing Minimum and Maximum</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPages1" })" target="_blank">Document Pages 1</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPages2" })" target="_blank">Document Pages Truncated</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPages3" })" target="_blank">Document Pages Overflow</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPageSizes" })" target="_blank">Document Page Sizes</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPageGroups" })" target="_blank">Document Page Groups</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPageNumbers" })" target="_blank">Document Page Numbers</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentColumns1" })" target="_blank">Document Columns 1</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentColumns2" })" target="_blank">Document Columns 2</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentColumns3" })" target="_blank">Document Columns 3</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentOutline1" })" target="_blank">Document Outline</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingUnits1" })" target="_blank">Drawing Units 1</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingColors1" })" target="_blank">Drawing Colours</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingDashes" })" target="_blank">Drawing Dashes</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingColorsBound" })" target="_blank">Drawing Databound Colours</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentAlignH" })" target="_blank">Horizontal Alignment</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentAlignV" })" target="_blank">Vertical Alignment</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentAlignNested" })" target="_blank">Nested Alignment</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingColors1" })" target="_blank">Drawing Colours</a></li>
        <li><a href="@Url.Action("ImageDocument","Home")" target="_blank">Drawing Images</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingImagesNotFound" })" target="_blank">Images not found</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingImagesFilled" })" target="_blank">Drawing Images as fills</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTables1" })" target="_blank">Tables Simple</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTablesHeaders" })" target="_blank">Tables Headers and Footers</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTablesNested" })" target="_blank">Tables nested and aligned</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTablesDatabound" })" target="_blank">Tables databound</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentLists1" })" target="_blank">Lists Simple</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentListsOverflow" })" target="_blank">Lists Overflowing</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentListsNested" })" target="_blank">Lists Nested</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentListDefinitions" })" target="_blank">List Definitions</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentListDatabound" })" target="_blank">List Databound</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTextContainers" })" target="_blank">Text Containers</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentTextInline" })" target="_blank">Text Inline</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentLinks1" })" target="_blank">Document Links Navigation</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentLinksDestination" })" target="_blank">Document Links Destination</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentLinksUrls" })" target="_blank">Document Links Urls</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentHtmlSimple" })" target="_blank">Document Html Simple</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentHtmlBound" })" target="_blank">Document Html Bound</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentHtmlStyled" })" target="_blank">Document Html Styled</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentHtmlMarkdown" })" target="_blank">Document Html Markdown</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsStandard" })" target="_blank">Standard Fonts</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsSystem" })" target="_blank">System Fonts</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsStyles" })" target="_blank">Font Styles</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsDecoration" })" target="_blank">Font Decoration</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsLeading" })" target="_blank">Font Leading</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsSpacing" })" target="_blank">Font Word Spacing</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsMultibyte" })" target="_blank">Font Unicode</a></li>
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingFontsCustom" })" target="_blank">Fonts from appsettings</a></li>
        
        <li><a href="@Url.Action("Create","Home", new { doc = "DrawingPathsLines" })" target="_blank">Drawing paths</a></li>

        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPlaceholders" })" target="_blank">Document placeholders</a></li>
        <li><a href="@Url.Action("PlaceholderDocument","Home")" target="_blank">Document Placeholder filled</a></li>
        <li><a href="@Url.Action("PlaceholderTemplateDocument","Home")" target="_blank">Document Placeholder Template</a></li>


        <li><a href="@Url.Action("Create","Home", new { doc = "DocumentPageOf" })" target="_blank">Document Page Number Of</a></li>
        <li><a href="@Url.Action("DocumentParameters","Home")" target="_blank">Document Parameters</a></li>
        <li><a href="@Url.Action("DocumentStyleParameters","Home")" target="_blank">Document Style Parameters</a></li>
        <li><a href="@Url.Action("DocumentXmlParameters","Home")" target="_blank">Document Xml Parameters</a></li>
        <li><a href="@Url.Action("DocumentTemplateParameters","Home")" target="_blank">Document Template Parameters</a></li>
        <li><a href="@Url.Action("Xml","Home")" target="_blank">Document Data Source Xml Content</a></li>
        <li><a href="@Url.Action("DocumentDatasource","Home")" target="_blank">Document Data Source</a></li>
        <li><a href="@Url.Action("DocumentController","Home")" target="_blank">Document Controller</a></li>
    </ul>
    <div>HTML Content</div>
    <ul>
        <li><a href="@Url.Action("CreateHtml","Home", new { doc = "firstpage" })" target="_blank">Simple Html content</a></li>
        <li><a href="@Url.Action("ViewHtml","Home")" target="_blank">Html content from a view</a></li>
    </ul>
</div>
